.mobile-only{
    display: none;
}

@media screen and (max-width: 800px) {
    header{
        display: none;
    }
    .mobile-only{
        display:block;
    }
    .mobile-hide{
        display: none;
    }
    .nav-item{
        text-align: right;
        float: right;
        margin-top: 15px;
    }
    #logo{
        float: right;
    }
    .nav-breadcrumb{
        float: left;
        display: none;
    }
    footer{
        display: none;
    }
    .title{
        font-size: 14px;
    }
    #mobile-nav{
        display: inline;
    }
    #mobile-nav > a {
        display: inline-block;
        display: -moz-inline-box;
        *display: inline; /* For IE7 */
        zoom: 1; /* Trigger hasLayout */
        margin-left: 2%;
        width: 9%;
        text-align: center;
    }
    #mobile-nav > a:first-child {
        margin-left: 0;
    }
}
