* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav{

}

.nav { position: fixed !important; top: 0; left: 0; right: 0; }

a {
    text-decoration: none;
    color:
}

.img-caption-body{

}

.breadcrumb ul li{
    margin-bottom: 32px;
}

.breadcrumb-nav{
    height: 60px;
}

.menu-list{
    padding: 0px;
    list-style: none;
    list-style-type: none;
}

.menu-list li{
    list-style: none;
    border-radius: 2px;
    display: block;
}
.menu-list li a{
    text-decoration: none;
    transition: none 86ms ease-out;
}

.podcast-player{
    margin-top: 35px;
}

td{
    padding: 10px;
}

/* Hero Card */

.hero-card {
    background-color: white;
    color: #363636;
}

.hero-card:hover{
    background-color: #363636;

}

.hero-card:hover .card-content .media p{
    color: white;
}

.hero-card:hover .card-content .media p{
    color: white;
}

.hero-card-title {
    text-align: center;
}

.hero-card .content{
    display: none;
}

/* Extra */
.hidden{
    display: none;
}


