<nav class="navbar">
    <div class="navbar-brand">
        <h1 class="title">Nick's Secret Page</h1>
    </div>
    <div class="navbar-end">
        <nav class="breadcrumb is-right nav-breadcrumb">
            <ul>
                <li class="is-active"><a><i class="fa fa-book" aria-hidden="true"></i>&nbsp;Nick's Secret Page</a></li>
            </ul>
        </nav>
    </div>
</nav>
Hey this is Nick's secret page. Come here anytime by typing "SetPage('nick')" into console or by entering ! into the search bar and looking down the list. <br>Here you can relax and chill with me Nick!<br><br>
<img src="img/relax.jpg">

<br><br>
<script src="../js/script.js"></script>

