
<nav class="navbar">
        <div class="navbar-brand">
            <h1 class="title">Podcasts</h1>
        </div>
        <div class="navbar-end">
            <nav class="breadcrumb is-right nav-breadcrumb">
                <ul>
                        <li class="is-active"><a><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Podcasts</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>

<img src="img/banners/podcast.jpg"><br><br>
A series of podcasts exploring and discussing the world of Vigilantes with the creators and the characters.

<br><br>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date Submitted</th>
            <th>Speakers</th>
            <th>Sound</th>
        </tr>
    </thead>
    <tbody>

        <!-- Entry 1 -->
        <tr height="50">
            <td>Episode 2 - Viper</td>
            <td>December 9, 2016</td>
            <td>Dilhan, Hunter, Nick</td>
            <td>
                <audio controls class="podcast-player">
                    <source src="podcasts/Vigilante%20Podcast%20Episode%202.mp4" type="audio/mp3">
                        Your browser does not support the audio element.
                        </audio>
                    </td>
                </tr>

            <!-- Entry 2 -->
            <tr>
                <td>Pilot</td>
                <td>November 1, 2016</td>
                <td>Dilhan, Hunter</td>
                <td>
                    <audio controls class="podcast-player">
                        <source src="podcasts/Vigilante%20Podcast-Pilot.mp3" type="audio/mp3">
                            Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>
                </tbody>
            </table>
        <script src="../js/script.js"></script>
