<nav class="navbar">
    <div class="navbar-brand">
        <h1 class="title">ExoCorp</h1>
    </div>
    <div class="navbar-end">
        <nav class="breadcrumb is-right nav-breadcrumb">
            <ul>
                <li><a class=" link-page link-page-heroes"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;Sub-Universes</a></li>
                <li><a class=" link-page link-page-spectre"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;Silver Spectre</a></li>
                <li class="is-active"><a class=" link-page link-page-viper-viper"><i class="fa fa-user"></i>&nbsp;ExoCorp</a></li>
            </ul>
        </nav>
    </div>
</nav>
    <div class="columns is-mobile">
        <div class="column is-two-thirds">

            <blockquote>"Thinking outside the box."</blockquote>

            ExoCorp is an Australian based science corporation specialising in bioengineering and particle physics. The corporation works with international companies to develop technologies for global benefit.
            Led by the enigmatic genius Philip Dean, the company has made many technological breakthroughs.
            ExoCorp performs many of its studies behind closed doors and has little public profile despite being recognised for many technologies.
            In addition, ExoCorp has very tight security. Dean funds the upkeep of a group of special operatives, agents known as the Velvet Knight who are responsible for containing and protecting assets.
            ExoCorp was responsible for the P-3 experiments, which gave rise to the Experimentals and began a new and more sinister period for the company, with security increased exponentially and the Velvet Knights deployed to recapture the Experimentals.
        </div>
    </div>
<script src="../js/script.js"></script>
