<!-- Navbar & Title -->
<nav class="navbar">
    <div class="navbar-brand">
        <h1 class="title">Phillip Dean</h1>
    </div>
    <div class="navbar-end">
        <nav class="breadcrumb is-right nav-breadcrumb">
            <ul>
                <li><a class=" link-page link-page-heroes"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;Sub-Universes</a></li>
                <li><a class=" link-page link-page-spectre"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;Silver Spectre</a></li>
                <li class="is-active"><a class=" link-page link-page-viper-viper"><i class="fa fa-user"></i>&nbsp;Phillip Dean</a></li>
            </ul>
        </nav>
    </div>
</nav>

<!-- Content -->
<div class="columns is-mobile">
    <div class="column is-two-thirds">

        <blockquote>"The monster was the best friend I ever had."</blockquote>

        Philip was raised by his father after his mother died of cancer. He became very introverted and during school devoted himself to his studies. He excelled academically and eventually founded a company of his own.

        This company, ExoCorp, was a scientific organisation focused on bioengineering with the aim of helping humanity, in part a personal reconciliation for his mother’s death.
        ExoCorp became very successful, pioneering a range of technologies as one of the leaders in the scientific community. With this Philip gained worldwide recognition.

        Dean’s influence grew with ExoCorp’s and he hired the Velvet Knights to maintain the company’s security, paranoid that an accident would compromise his work, and figuring they could also help support the police force.

        Gradually however, ExoCorp’s methods became much more sinister as Dean began to reason that the limitations the law and ethics placed on science only inhibited the progress and ultimately, the good, he was sure he was capable of.
        So Dean, assuring himself that he was doing something future generations would thank him for began a new, confidential and unrestricted department of the company, tossing aside most legal and ethical boundaries to push the limits of science.

        Then, in perhaps his most significant breakthrough, Philip began experimenting with applying particle physics to biotechnology and secretly began the P-2 experiments, which led to the creation of Experimentals like Silver Spectre.
        But then the Experimentals escaped.<br><br><br>

        <h4 class="subtitle">Arsenal</h4>
        <ul>
            <li>Paralysis pistol<br>
                Small automatic sidearm that shoots darts filled with a non-lethal dose of fugu (a type of Japanese pufferfish) venom to immobilise victims.</li>
        </ul><br>

        <h4 class="subtitle">Capabilities</h4>
        <ul>
            <li>Scientific genius</li>
            <li>Very wealthy<br>
        </ul><br>

        <h4 class="subtitle">Qualities</h4>
        <ul>
            <li>Enthusiastic</li>
            <li>Dedicated</li>
            <li>Altruistic</li>
            <li>Morally skewed</li>
        </ul>
    </div>

    <div class="column">
        <!--<img width="400px" height="500px" src="img/character-art/spectre.png" alt="Image"><br><br>-->
        <article class="message is-primary">
            <div class="message-header">
                Red Rhino Suit
            </div>
            <div class="message-body">
                <ul class="img-caption-body">
                    <li>Padded black and red vest</li>
                    <li>Red wrist guards</li>
                    <li>Tight, elastic-like black and red pants</li>
                    <li>Red headband</li>
                </ul>
            </div>
        </article>
        <article class="message is-primary">
            <div class="message-header">
                Extra Resources
            </div>
            <div class="message-body">
                <i>Some additional links and comments to help appreciate Silver Spectre:</i><br><br>
                <h5 class="subtitle">Notes</h5>
                <ul class="img-caption-body">
                    <li>Dean is haunted by his actions and so has chosen to ignore them and tries to use logic to disregard morals. He maintains that he works for the greater good. Deep down he knows he is in the wrong but is desperate to believe otherwise.</li>
                    <li>Dean is strangely religious for a man of science and avidly believes God will help and understand him. Nonetheless he struggles to understand his purpose.</li>
                    <li>Philip’s is a story of sinking deeper into disrepair as he struggles to hold together his company.
                        Hence, Dean became more evil thanks to the Spectre’s actions (e.g. push and pull factors) .</li>
                </ul>
            </div>
        </article>
    </div>
</div>

<!-- Reset Script -->
<script src="../js/script.js"></script>
