<nav class="navbar">
    <div class="navbar-brand">
        <h1 class="title">Viper</h1>
    </div>
    <div class="navbar-end">
        <nav class="breadcrumb is-right nav-breadcrumb">
            <ul>
                    <li><a class=" link-page link-page-heroes"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;Sub-Universes</a></li>
                    <li class="is-active"><a class=" link-page link-page-viper"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;Viper</a></li>
                    </ul>
                </nav>
            </div>
        </nav>

    Here is the page for the Viper Sub-universe.<br><br>

    <!-- Row 1 -->
    <div class="columns is-mobile">

        <!-- Viper -->
        <div class="column is-one-quarter">
            <a class=" link-page link-page-viper-viper">
                <div class="card hero-card">
                    <div class="card-image">
                        <figure class="image hero-icon">
                            <img src="img/icon/icon.png" alt="Image">
                                </figure>
                            </div>
                        <div class="card-content">
                            <div class="media">
                                <p class="title  hero-card-title">Viper</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>

            <!-- Three Eyed Warrior -->
            <div class="column is-one-quarter">
                <a class="link-page link-page-viper-jp">
                    <div class="card hero-card">
                        <div class="card-image">
                            <figure class="image hero-icon">
                                <img src="img/icon/icon.png" alt="Image">
                                    </figure>
                                </div>
                            <div class="card-content">
                                <div class="media">
                                    <p class="title  hero-card-title">Yáng Jiǎn</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>

                <!-- Tongyi Shen -->
                <div class="column is-one-quarter">
                    <a class="link-page link-page-viper-tongyi">
                        <div class="card hero-card">
                            <div class="card-image">
                                <figure class="image hero-icon">
                                    <img src="img/icon/icon.png" alt="Image">
                                        </figure>
                                    </div>
                                <div class="card-content">
                                    <div class="media">
                                        <p class="title  hero-card-title">Tongyi Shen</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                    <!-- Major Patton -->
                    <div class="column is-one-quarter">
                        <a class="link-page link-page-viper-patton">
                            <div class="card hero-card">
                                <div class="card-image">
                                    <figure class="image hero-icon">
                                        <img src="img/icon/icon.png" alt="Image">
                                            </figure>
                                        </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <p class="title  hero-card-title">Major Patton</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="columns is-mobile">

                        <!-- LongYing -->
                        <div class="column is-one-quarter">
                            <a class="link-page link-page-viper-long">
                                <div class="card hero-card">
                                    <div class="card-image">
                                        <figure class="image hero-icon">
                                            <img src="img/icon/icon.png" alt="Image">
                                                </figure>
                                            </div>
                                        <div class="card-content">
                                            <div class="media">
                                                <p class="title  hero-card-title">Lóngyǐng</p>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                        </div>
                        <script src="../js/script.js"></script>
