<!-- Title & Breadcrumbs -->
<nav class="navbar">
    <div class="navbar-brand">
        <h1 class="title">Major Lewis Patton</h1>
    </div>
    <div class="navbar-end">
        <nav class="breadcrumb is-right nav-breadcrumb">
            <ul>
                    <li><a class=" link-page link-page-heroes"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;Sub-Universes</a></li>
                    <li><a class=" link-page link-page-viper"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;Viper</a></li>
                    <li class="is-active"><a class=" link-page link-page-viper-jp"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Major Lewis Patton</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    <div class="columns is-mobile">
        <div class="column is-two-thirds">
            <blockquote>"A soldier will fight long and hard for a bit of coloured ribbon."</blockquote>

            Lewis grew up hated. Throughout high school the majority of his peers disliked him for his selfish nature, characterised by a desire to improve his own quality of life despite any expense to others. These expenses were sometimes profound and Lewis made far more enemies than he did friends.<br>
            During these early years this had little affect on him and he brushed any regrets aside.<br><br>

            It was when he left school that reality hit home and in an attempt to escape and, to a minor degree, better himself; he enlisted in the Australian Defence Force. He made this decision following friends from his AFL team, a sport that had played a major part in his youth, as several of teammates also joined the military.<br>
            In the Defence Force Lewis’ humour and friendliness made him fast friends and he felt a sense of purpose and acceptance. The discipline of military training brought out the best in Lewis and his old self began to fade away in favour of a new persona, the spitting image of the ANZAC soldier.<br><br>

            After training he was deployed to Afghanistan where his newfound skills were put to the test. Lewis soon distinguished himself as a capable soldier and began to climb the ranks.<br>
            But then, against his better nature, he became obsessed with ranking up and began to fall back into his manipulative ways in order to do so.<br><br>

            <div class="drop-down-box" id="patton">
                In the army his best friend was Captain Grove, one of the AFL players Lewis had known during school and so when a rumour began to circulate of Grove’s imminent promotion Lewis was conflicted.
                Two days after this, the platoon was split up by a Taliban ambush. Patton and Grove took refuge from the gunfire in a nearby building where they found Corporal Marven, also taking shelter.<br>
                While Grove tried to contact backup Patton and Marven stood guard. Peering out at the war-torn street Patton realised a desire to escape the war and remembered Grove’s promotion. In a sudden decision he spun around and gunned down his best friend.<br>
                Marven opened fire at Patton and tried to call for backup but was silenced with a shot to the head.<br>
                Hearing gunfire quieting outside, Patton quickly hid the bodies and rushed after his retreating platoon. <br><br>

                He told his commanding officer that they had been attacked by a large group of Taliban and he had held them off, letting Marven and Grove escape, before turning to flee himself. He claimed he had seen them gunned down, only just managing to escape himself.<br>
                Fortunately for Lewis, they were never able to return to that town as the Taliban held it for a long time, letting his lie go by undetected, with Lewis promoted in Grove’s place, for his apparent bravery.<br><br>

                Soon he was sent home, with the comfortable rank of Major under his belt. Back in Sydney, with a desire to remain in the military, he found himself promoted to lead the newly established Fort Darling, built to enforce US will in Chinatown and begin the systematic discrimination effort against Asians.<br><br>

                Known in the army as a trusted and capable soldier he was also selected to trial the recently developed BraveHelms and with funding from the US Army, Fort Darling was soon stocked with a vast armoury, all of it under Patton’s command.<br>
                Finally granted with the power and comfort he’d sought, Patton was contempt and was happy to do whatever was asked of him in order to hold onto his position.<br><br>

                He was comfortable but for one thing. Alone at night memories of his actions come back to torment him and he is consumed by self-loathing and insecurity. Grove’s death in particular, deeply troubles Patton.<br>
                In the day though, Major Patton forces his insecurity aside and become the cool, calm and collected leader of Fort Darling.
                </div>
                <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                    <span style="background-color:#fff;">
                        <a class="icon is-large" style="position: relative; bottom: 2px; background-color: white;">
                            <i id="patton" class="drop-down-button fa fa-arrow-circle-down" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>

                <br><br>

                    <h4 class="subtitle">Arsenal</h4>
                    <ul>
                        <li>F88 Austeyr (standard ADF rifle)</li>
                        <li>Browning Hi-Power (semi-automatic pistol)</li>
                        <li>BraveHelm Alpha</li>
                        <li>Military body armour</li>
                    </ul><br>

                    <h4 class="subtitle">Capabilities</h4>
                    <ul>
                        <li>Manipulation by exploiting weaknesses</li>
                        <li>Skilled soldier</li>
                        <li>Quick-talker</li>
                    </ul><br>

                    <h4 class="subtitle">Qualities</h4>
                    <ul>
                        <li>Humorous</li>
                        <li>Cool</li>
                        <li>Obedient</li>
                        <li>Quiet</li>
                        <li>Manipulative</li>
                        <li>Insecure</li>
                    </ul>
                    </div>

                    <div class="column">
                        <img width="400px" height="500px" src="img/character-art/patton.png" alt="Image"><br><br>
                            <article class="message is-primary">
                                <div class="message-header">
                                    BraveHelm Alpha
                                </div>
                                <div class="message-body">
                                    A military helmet developed by DARPA, the BraveHelm is worn by soldiers and influences their brains: reducing stress, keeping focus and reducing pain by using transcranial pulsed ultrasound waves.<br><br>

                                    However, magnetic nanoparticles (surgically implanted and heated by magnetic fields) are also discreetly used in conjunction with the BraveHelm, allowing for near-complete control of a soldier’s actions.<br>
                                    The BraveHelm Alpha controls this, essentially giving the user mind control over soldiers under their command.<br><br>

                                    The BraveHelm is black in colour and has a sliding face guard, allowing protection of the entire head. It is fairly bulky and noticeably geometric in shape. A narrow slit between the faceplate and the head guard allows the soldier to see.<br><br>
                                    The BraveHelm Alpha is similar but has a glowing red alpha symbol roughly above the ears.
                                    </div>
                                    </article>
                                    <article class="message is-primary">
                                        <div class="message-header">
                                            Extra Resources
                                        </div>
                                        <div class="message-body">
                                            <i>Some additional links and comments to help appreciate Major Patton:</i><br><br>
                                            <h5 class="subtitle">Notes</h5>
                                            <ul class="img-caption-body">
                                                <li>A major aspect of Patton is his passion for AFL. It acts as a very humanising and relatable feature of this otherwise complex character and alludes to the tight relationship between sport and the military, a major theme for Patton.</li>
                                            </ul>
                                            </div>
                                            </article>
                                        </div>
                                        </div>
                                    <script src="../js/script.js"></script>
